.card {
  width: fit-content;
  height: max-content;
  margin: 2%;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &-title {
    margin: 2%;
    display: flex;
    justify-content: center;
  }
  &-price {
    margin: 3%;
    display: flex;
    justify-content: center;
  }
  &-button {
    margin: 3%;
    display: flex;
    justify-content: center;
    background-color: royalblue;
    border: 0;
    border-radius: 0.2rem;
    height: 20%;
    color: white;
    cursor: pointer;
  }
  &-image {
    width: 200px;
    height: 200px;
  }
}
